table {
    width: 100%;
  }
  .make-green {
    background-color: lightgreen
}
.make-red{
    background-color: rgba(238, 90, 90, 0.767);
}
.make-black{
    background-color: black;
    font: bolder;
    color: white;
    color: white;
}
.mat-header-cell {
    color: black;
    font: bolder;
    font-size: medium;
}
.mat-cell {
    color: black;
    font: bolder;
    font-size: medium;
}