<h2 style="text-align: center;">Customers' Phone Numbers</h2>
<mat-form-field appearance="fill" style="margin-right: 2%; margin-left: 39%;">
  <mat-label>Validity</mat-label>
  <mat-select  (selectionChange)="selectValidity($event.value)" [(value)]="SelectedValidity">
    <mat-option [value]="option.value" *ngFor="let option of Validity">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Country</mat-label>
  <mat-select  (selectionChange)="selectCountry($event.value)" [(value)]="SelectedCountry">
    <mat-option [value]="option.value" *ngFor="let option of Countries">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef > No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="Phone Number">
    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="Country">
    <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.countryName}}
    </mat-cell>
  </ng-container>
  <!-- Valid Column -->
  <ng-container matColumnDef="Valid">
    <mat-header-cell *matHeaderCellDef> Valid </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.valid}}</mat-cell>
  </ng-container>
    <!-- CountryCode Column -->
    <ng-container matColumnDef="CountryCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country Code </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.countryCode}}</mat-cell>
    </ng-container>
      <!-- Number Column -->
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green' : (row.valid=='Valid') ,'make-red': (row.valid=='Not Valid')  }"></mat-row>
</mat-table>
